.App {
  font-family: sans-serif;
  text-align: center;
}

.square {
  width: 45vw;
  height: 45vw;
  background-color: white;
  margin-bottom: 20px;
}

.canvas-wrapper {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

body,
html {
  margin: 0;
}
